<!DOCTYPE html>
<html>
<head>
    <title>Crate Finao page</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="content/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="content/css/landing.css" rel="stylesheet">
    <link href="content/css/images.css" rel="stylesheet">

    <link rel="stylesheet" href="content/fonts/proximanova/stylesheet.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="content/fonts/oswald/stylesheet.css" type="text/css" media="screen" />

    <link href="content/css/stylesheet.css" rel="stylesheet">

    <link rel="stylesheet" href="content/css/font-awesome.min.css">

    <script src="content/js/jquery-2.1.0.min.js"></script>
    <script src="content/bootstrap/js/bootstrap.min.js"></script>-->
    <script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
    <script>
        $(function () {
            $("#includedContent").load("Header.html");
        });
        $(document).ready(function () {
            $('#createForm').fadeIn(1000);

        });

        
    </script>
    <style>
        .has-error {
            color: red;
            outline-color:red;
        }
    </style>
 
</head>

<body>
    <!--import header.html-->
    <div id="includedContent">
    </div>
    <!--import header.html-->

    <div class="container white-background">
        <div class="content-wrapper pageone" style="margin-top: 23px;">
            <div class="row marbot20">
                <img src="../app/content/images/banner.jpg" class="img-responsive" style="width: 100%;">
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-3">
                        <a href="#">
                            <img src="../app/content/images/krishvii.jpg" width="100%">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <h2>
                            krishvii
                        </h2>
                        <p>
                            This person has not created a biography yet
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <div class="edit_button">
                            <a href="#"> Edit My Profile </a>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-xs-5 leftmenu">
                        <ul>
                            <li>
                                <a class="active" href="#/finaos">FINAOs  <span> {{finaoCount}} </span></a>
                            </li>
                            <li>
                                <a href="#">Tiles  <span> 1 </span></a>
                            </li>
                            <li>
                                <a href="#">Posts  <span> 1 </span></a>
                            </li>
                            <li>
                                <a href="#">Inspired  <span> 1 </span></a>
                            </li>
                            <li> 
                                <a href="#">Following  <span> 1 </span></a>
                            </li>
                            <li>                               
                                <a href="#">Followers  <span> 1 </span></a>
                            </li>
                            <li class="mar0">
                                <a href="#"> Group <span> 1 </span></a>
                            </li>
                        </ul>
                        <div class="col-lg-12 pad0">
                            <div class="option">
                                <h5> Gear </h5>                            
                                <span>Failure is not an option</span>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-lg-9" ng-show="createTile">
                        <div class="col-lg-12 marbot20">
                            <div class="createheader">
                                <h1>
                                    Create a FINAO
                                </h1>
                            </div>
                        </div>
                        <div class="col-lg-12 marbot20">
                            <div class="col-lg-3" ng-click="tile_click('Art','fa fa-paint-brush')">
                                <div class="create">
                                    <i class="fa fa-paint-brush"></i>
                                    <h6>
                                        Art
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-3" ng-click="tile_click('Athletics','fa fa-motorcycle')">
                                <div class="create">
                                    <i class="fa fa-motorcycle"></i>
                                    <h6>
                                        Athletics
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-3" ng-click="tile_click('Business','fa fa-line-chart')">
                                <div class="create">
                                    <i class="fa fa-line-chart"></i>
                                    <h6>
                                        Business
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-3" ng-click="tile_click('Careers','fa fa-briefcase')">
                                <div class="create">
                                    <i class="fa fa-briefcase"></i>
                                    <h6>
                                        Careers
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 marbot20">
                            <div class="col-lg-3" ng-click="tile_click('Causes','fa fa-globe')">
                                <div class="create">
                                    <i class="fa fa-globe"></i>
                                    <h6>
                                        Causes
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-3" ng-click="tile_click('Cooking','fa fa-cutlery')">
                                <div class="create">
                                    <i class="fa fa-cutlery"></i>
                                    <h6>
                                        Cooking
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-3" ng-click="tile_click('Education','fa fa-graduation-cap')">
                                <div class="create">
                                    <i class="fa fa-graduation-cap"></i>
                                    <h6>
                                        Education
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-3" ng-click="tile_click('Faith','fa fa-tree')">
                                <div class="create">
                                    <i class="fa fa-tree"></i>
                                    <h6>
                                        Faith
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 marbot20">
                            <div class="col-lg-3" ng-click="tile_click('Family','fa fa-sitemap')">
                                <div class="create">
                                    <i class="fa fa-sitemap"></i>
                                    <h6>
                                        Family
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-3" ng-click="tile_click('Finance','fa fa-usd')">
                                <div class="create">
                                    <i class="fa fa-usd"></i>
                                    <h6>
                                        Finance
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-3" ng-click="tile_click(' Health & Fitness','fa fa-medkit')">
                                <div class="create">
                                    <i class="fa fa-medkit"></i>
                                    <h6>
                                        Health & Fitness
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-3" ng-click="tile_click('Just Being Me','fa fa-user-secret')">
                                <div class="create">
                                    <i class="fa fa-user-secret"></i>
                                    <h6>
                                        Just Being Me
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 marbot20">
                            <div class="col-lg-3" ng-click="tile_click('Music','fa fa-music')">
                                <div class="create">
                                    <i class="fa fa-music"></i>
                                    <h6>
                                        Music
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-3" ng-click="tile_click('Recreation','fa fa-compass')">
                                <div class="create">
                                    <i class="fa fa-compass"></i>
                                    <h6>
                                        Recreation
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-3" ng-click="tile_click('Relationships','fa fa-heart')">
                                <div class="create">
                                    <i class="fa fa-heart"></i>
                                    <h6>
                                        Relationships
                                    </h6>
                                </div>
                            </div>
                            <div class="col-lg-3" ng-click="tile_click('Sports','fa fa-trophy')">
                                <div class="create">
                                    <i class="fa fa-trophy"></i>
                                    <h6>
                                        Sports
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 marbot20">
                            <div class="col-lg-3" ng-click="tile_click('Travel','fa fa-plane')">
                                <div class="create">
                                    <i class="fa fa-plane"></i>
                                    <h6>
                                        Travel
                                    </h6>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-9 createfile" id="createForm" ng-show="createForm">
                        <div class="col-lg-12 marbot20">
                            <div class="createheader">
                                <h1>
                                    Create a FINAO <span>Name your FINAO. </span>
                                </h1>
                            </div>
                        </div>
                        <form name="frmCreateFinao">
                            <div class="col-lg-12 marbot20">
                                <p>
                                    A FINAO is a particular goal that you want to achieve in a Tile.
                                </p>
                                <div class="col-lg-3">
                                    <div class="create">
                                        <i class="{{tileclass}}"></i>
                                        <h6>
                                            {{tile}}
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="form-group">
                                        <input type="text" name="description" class="form-control" ng-class="{'has-error': frmCreateFinao.description.$invalid &&  !frmCreateFinao.description.$pristine}" placeholder="Name Your FINAO" style="width:300px;" ng-model="description" ng-required="true" ng-maxlength="255">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="visibility"> <span> Private </span>
                                        </label>
                                    </div>

                                    <button class="btn btn-default marbot15 save" type="submit" ng-click="create();">Save</button><br />
                                    <button class="btn btn-default marbot15 change" type="submit" ng-click="change_tile()">Change Tile </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                
            </div>


        </div>
    </div>

    <!-- /.popup start here -->
    <div class="modal" id="alertpopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="go_finos()">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        <img src="../app/content/images/logo-small.png">
                    </h4>
                </div>
                <div class="modal-body">{{msg}}</div>
                <div class="modal-footer">

                    <a href="" class="yes" ng-click="go_finos()">Done</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.popup end here -->
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel').carousel();
    });
</script>



