<div class="modal-header ng-scope">
    <img src="/skin/frontend/social/default/images/logo-black.svg">
</div>
<form novalidate="" ng-submit="requestPassword(me)" name="userForgotPasswordForm" class="form-inline password ng-scope ng-pristine ng-invalid ng-invalid-required">
    <div class="modal-body clearfix">
        <div ng-hide="showSuccess" class="form-group">
            <input type="email" required="" ng-model="me.email" placeholder="EMAIL" id="forgot_pw_email" class="form-control ng-pristine ng-animate ng-valid-remove ng-invalid-add ng-invalid-required-add ng-valid-remove-active ng-invalid ng-invalid-add-active ng-invalid-required ng-invalid-required-add-active ng-valid-email" style="">
        </div>
        <div ng-show="showSuccess" class="ForgotPasswordMessage ng-hide">
            <p>If you have an account in our system, password reset instructions will be sent to your email.</p>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-hide="showSuccess" ng-disabled="userForgotPasswordForm.$invalid" type="submit" id="forgot_pw_submit" class="btn btn-success" disabled="disabled">Request Password</button>
        <button ng-show="showSuccess" ng-click="close()" type="button" id="forgot_pw_close" class="btn btn-success ng-hide">Done</button>
    </div>
</form>