body{padding:0px;margin:0px;}
ul { list-style-type:none;padding:0px;margin:0px;}
h1,h2,h3,h4,h5,h6 { margin:0px;}
.marbot20 { margin-bottom:20px;}
h2 { font-size:30px;}
.align-right{ text-align:right;}
.marbot15 { margin-bottom:15px;}



.pageone h2 {font-weight:bold;text-transform:uppercase;color:#000; }
.pageone p { font-size:15px;}
.edit_button { width:140px;}
.edit_button a { background:#ccc;border-color: #bfbfbf;color: #000;
text-align:center;padding: 10px 0px;border-radius:4px;display:block;font-family: 'oswaldbook';}
.edit_button a:hover { background:#000 url(../../content/images/icons/icon-post-finao.png) no-repeat 5px  9px ;color:#fff; }
.mar0 { margin:0px !important;}
.leftmenu { margin-bottom:30px;}
.leftmenu ul {border:1px solid #ddd;margin-bottom:20px; }
.leftmenu ul li {margin: 0 0 9px;}
.leftmenu ul li a {font-family: 'oswaldbook';font-size:18px;color:#000;text-transform:uppercase;border:1px solid #ddd;display:block;padding:7px 15px; }
.leftmenu ul li a:hover { background:#000;color:#fff;text-transform:uppercase;padding-left:35px;}
.leftmenu ul li a.active{color:#fd6d20;} 
.leftmenu ul li a span {float:right;}
a.create-fin {background:#fd6d20; color: #fff; width: 170px;display:block; height:32px;border-radius:3px;text-align:center;font-family: 'oswaldbook';font-size:15px;line-height:30px;}
a.create-fin:hover { background:#000;color:#fff;transform:scale(1.1);text-transform:uppercase;}
.finotable{ border:1px solid #ddd; padding: 5px 0;}
.finotable h3 {font-family: "oswaldbook";font-size:17px; line-height: 30px;}
a.runsym .fa-street-view {border:1px solid #ddd; padding: 5px;color:#fd6d20; margin-top: 3px; }
a.track { background:#ccc;width:150px;text-align:center;height:32px;line-height:31px;display:block;color:#fff;font-family: "oswaldbook";font-size:16px; margin: 0 0 0 20%;}
.right{float:right;}
.actionicons a i {  font-size: 20px;line-height: 32px;}
.pad0 { padding:0px !important;}
a.track:hover {background:#000;border:1px solid #ddd; }
a.track span  i {font-size:20px; }
.tabsru {padding: 10px; border-bottom: 1px solid #ddd;}
.tabsru:hover  {background: #000;color:#fff; }
.actionicons a i:hover { color:#fff;}
.tabsru  .tooltip { background:#000; height:70px ;width:100px;border-radius:15px 0px 15px 0px;font-size:17px;font-family: "oswaldbook";color:#fd6d20;margin-top:-15px;border:3px solid #fd6d20 ;}
.option { border:1px solid #000;border-radius:4px;}
.option h5 { font-size:17px;font-family: "oswaldbook";color:#fd6d20;text-align:center;   padding-top: 25px;}
.option span {font-size:15px;font-family: "oswaldbook";color:#fd6d20;text-align:center;width:100%;display:block;height:50px; }
.option:hover  {background:#000;color:#fff; border:2px solid #fd6d20 ;text-transform:uppercase;}


/*Createfinao*/
.createheader {background:#000;margin-bottom:20px; }
.createheader h1 {font-size:25px;font-family: "oswaldbook";color:#fff;text-transform:uppercase;padding:20px; }
.createheader h1 span { font-size:17px;font-family: "oswaldbook";color:#fd6d20;}
.create { border: 1px solid #ddd; height: 160px;padding-top: 50px;text-align: center; width: 100%;}
.create i { font-size:30px;}
.create h6 {  border-top: 1px solid #ddd;font-size: 19px;margin-top: 36px;padding: 10px 0;font-family: "oswaldbook";text-align:left;padding-left:10px;}
.create:hover { background:#000;text-transform:uppercase;color:#fd6d20;   border-radius: 5px;
border: 2px solid #ddd;transform: scale(1.1);}


/**/
.createfile p {font-size:16px;font-family: "oswaldbook";margin-bottom: 20px; }
.createfile button { width:300px;height:35px;font-size:16px;font-family: "oswaldbook";color:#fff;}
.createfile input:focus {border:1px solid #fd6d20; }
.createfile .checkbox input {transform:scale(1.3) ;}
.createfile .checkbox span {font-size:16px;font-family: "oswaldbook";text-transform:uppercase;color:#ccc; }
.createfile .checkbox input:focus {transform:scale(1.8);border:1px solid #fd6d20; }
button.save{ background:#15DFD3;}
button.change {background:#fd6d20; }
.createfile button:hover{ background:#333;color:#fff;text-transform:uppercase;transform:scale(1.2)}


